extends layouts/default

block content
  .navi-container
    .navi
      .upper-wing.right-upper-wing
      .upper-wing.left-upper-wing
      .lower-wing.right-lower-wing
      .lower-wing.left-lower-wing
      .navi-glow-outer
      .navi-glow-mid
      .navi-glow-inner
    .navi-dialogue-container
      .navi-dialogue
        h1 Hey Listen!
