extends layouts/default

block content

  .doge-card.text-center
    .doge-img
    p Wow such animation
    p Very transition

  ul.doge-bubbl
    - each i in new Array(10)
      li.list-unstyled

  .cube-container
    .cube
      span.front 1
      span.back 2
      span.right 3
      span.left 4
      span.top 5
      span.bottom 6
